.class1 {
    min-height: 100vh;
    background-image: url(../../../images/Etiquetas-2.svg);
    background-size: contain;
    background-position: center 175%;
}

.class2 {
    background-color: rgba(red, green, blue, 0.5);
}